.calculator {
  background: #111111;
  border-radius: 30px;
  width: 400px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 100px);
}

@media (max-width: 500px) and (max-height: 900px) {
  .calculator {
    width: 100vw;
    height: 100vh;
  }
  .keypad {
    grid-template-rows: repeat(5, 15vh);
  }
}
